{% load crispy_forms_field %}

<div id="div_{{ field.auto_id }}" class="control-group{% if form_show_errors%}{% if field.errors %} error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

    {% if field.label %}
        <label for="{{ field.id_for_label }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
            {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
    {% endif %}

    
<div class='row'>
    <div class="span2 well">
        <div class="fileupload fileupload-new " data-provides="fileupload">
          <div>
            <span class="fileupload-new">
              <span class="btn btn-info btn-file"><i class='icon-upload'></i> Upload file:  <input type="file" name="{{ field.html_name }}" id="id_{{ field.html_name }}" value="{{ field.value }}" />
              </span>
            </span>
            <a href="#" class="btn btn-warning fileupload-exists" data-dismiss="fileupload"><i class='icon-repeat'></i> Change file?</a>
          </div>
          <i class='icon-file'></i>&nbsp;<div class="fileupload-preview fileupload-exists"></div>
        </div>
    </div>
</div>

</div>