<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Qubal {{ QUBAL_VERSION }}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/bootstrap-flatly.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/index.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/opentip.css" />


</head>

<body>

{% autoescape off %}{{ navbar_content }}{% endautoescape %}

<div class="container">

{% load imagekit %}

 <h4>You are a Teacher!</h4>
 <h4 class='opensans-bold'>{{ teacher.name }} {{ teacher.lastname }}</h4>

{% if teacher.image %}
  {% generateimage 'qubalapp:thumbnail150x150' source=teacher.image as tn2 %}
    <img src='{{ tn2.url }}' class='img-circle' title='{{ teacher.name}} {{ teacher.lastname }} - level {{ current_level }} - explorer' rel="tooltip-left"/>
{% else %}
    <img src='{{ STATIC_URL }}qubalapp/main_engine/img/default_avatar_grey.jpg' class='img-circle' title='{{ teacher.name}} {{ teacher.lastname }} - level {{ current_level }} - explorer' rel="tooltip-left"/>

{% endif %}

<span class='totalxp_text'>Total XP: {{ teacher.xp }}</span>



 <br><br><br>

  <div class="containerfoot" >
  
    
    <div class="row" id='footer'>
      <p class='qubal_logo_text opensans-bold'><i class='icon-sitemap icon-flip-vertical'></i><span class="letter-blue"> Q</span>ubal {{ QUBAL_VERSION }}</p>
      <hr>
      
      <div class="span2 pull-left pagination-centered">
        
      
        <p>(c)2013 Studiesoft</p>
        <p class='pagination-centered'><a href='http://www.studiesoft.nl'><img src="{{ STATIC_URL }}qubalapp/main_engine/img/Studiesoft-logo.png"  title="©2013 StudieSoft"></a></p>

        

        
      </div>
      
      <div class="span2 pull-right pagination-centered">
        
        <p>Powered by</p>

        <p class='pagination-centered'><a href='http://www.radicalgraphics.com'><img src="{{ STATIC_URL }}qubalapp/main_engine/img/radicallogoon.png" width="120" height="120" title="Radical Graphics Studios"></a></p>

      </div>
     
    </div>
  
  </div> <!-- footer end -->

</div> <!-- main container end div -->


<!-- =================================================== -->
<!-- =================== javascripts =================== -->
<!-- =================================================== -->

<script src="{{ STATIC_URL }}qubalapp/main_engine/js/jquery.js"></script>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/adapter-jquery.js"></script>

    <script>

    $("[rel=tooltip]").tooltip({ placement: 'top'});
    $("[rel=tooltip-left]").tooltip({ placement: 'left'});


    </script>

</body>
</html>