.quests-container-box {
	width: 780px;
	/* height: 200px; */
	background-color: #333; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
	background-image: url(../img/quests.svg);
	background-size: 650px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-top: 5%;
}

.quests-header-icon {
	width: 780px;
	height: 65px;
	background-color: #b38c2f; /* CLASSTYPE COLOR */
	margin-left: -20px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	text-align: center;
	/*padding-top: 5px;*/
	color: #fff;
	padding: 10px;	
	padding-left: 20px;
}

.quests-header-icon i {
	float: left;
}

.quests-header-icon span {
	float: left;
	padding-left: 10px;
	padding-top: 15px;
	font-size: 16px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1.8em;
	font-weight: 700;
}

.quests-active-courses-box {
	width: 760px;
	/* height: 100px; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */ 
	background-color: rgba(146,146,146,0.8);
	margin-top: 10px;
	margin-left: -10px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-style:solid;
	border-color: #fff; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
	border-width:0px;
}

.quests-active-courses-header {
	width: 760px;
	background-color: #b38c2f; /* CLASSTYPE COLOR */
	float: left;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	color: #fff;
	padding: 10px;	
	padding-left: 20px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 700;
}

.quests-active-courses-header span {
	margin-left: 180px;
}

.quests-active-courses-column {
	position: relative;
	width: 290px;
	height: 315px;
	float: left;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	/*background-color: #fff;*/
}

.quests-active-courses-course-box {
	float: left;
	width: 80px;
	height: 80px;
	/*background-color: #fff; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< REMOVE AFTER IT'S DONE */
	margin-left: 12px;
	margin-top: 12px;
}

/*
.quests-active-courses-course-title {
	position: relative;
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	padding-top: 4px;
	font-size: 0.9em;
	line-height: 1em;
	margin-left: -15px;
}*/

.quests-active-courses-course-box a {
	color: #333;
	text-decoration: none;
	font-weight: 500;
}

.quests-actives-courses-view-more {
	position: absolute;
	bottom: 0;
	left: 110px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #fff;
	text-align: center;
	font-size: 1em;
	font-weight: 500;
	padding-top: 1px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.quests-quests-column {
	float: left;
	width: 470px;
	height: 315px;
	/*background-color: #fff; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
}

.quests-quests-boxes {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #fff; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< REMOVE AFTER IT'S DONE */
	margin-left: 12px;
	margin-top: 12px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}

.quests-quests-boxes-course-name {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	font-size: 0.8em;
	font-weight: 500;
	color: #000;
}

.quests-quests-boxes-icon {
	text-align: center;
	color: #000;
}

.quests-quests-actives-box {
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	width: 80px;
	height: 80px;
}

.quests-quests-actives-number {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	padding-top: 1px;
	color: #fff;
}

.quests-quests-actives-text {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	font-size: 0.8em;
	font-weight: 500;
	color: #fff;
}

.quests-quests-actives-summary {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	font-size: 1.4em;
	font-weight: 500;
	color: #fff;
}

.quests-quests-actives-summary-text {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	font-size: 0.8em;
	font-weight: 500;
	color: #fff;
}


.quests-details-box {
	width: 760px;
	background-color: rgba(146,146,146,0.8);
	margin-top: 10px;
	margin-left: -10px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.quests-details-header {
	width: 760px;
	background-color: #b38c2f; /* CLASSTYPE COLOR */
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	color: #fff;
	padding: 10px;	
	padding-left: 20px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 700;
}

.quests-all-courses-box {
	width: 760px;
	background-color: rgba(146,146,146,0.8);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -10px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.quests-all-courses-header {
	width: 760px;
	background-color: #b38c2f; /* CLASSTYPE COLOR */
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	color: #fff;
	padding: 10px;	
	padding-left: 20px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 700;
}