
/*
TRONCHO DE MINI BOOTSTRAP MIENTRAS VEMOS QUE PASA ...
*/



.profile_level_details{
  line-height: 20px;
  /*-moz-border-radius-bottomright: 35px 50px;
  border-bottom-right-radius: 35px 50px;*/
  -webkit-border-radius: 2em 2em 2em 2em;
  -moz-border-radius: 2em 2em 2em 2em;
  border-radius: 2em 2em 2em 2em;
}

.student-class-centered {
  font-size: 16px;
  text-align: center;
}

.logo_text{
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-transform: none;
  font-family: "OpenSans";
}

.current_student_xp {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-transform: none;
  font-family: "OpenSans";  
}

.last_achievement_title{
  font-size: 18px;
  color: #000;
  text-transform: none;
  font-family: "OpenSans-Light";
  margin-bottom: 10px;
}

.last_achievement_name {
  font-size: 16px;
  color: #000;
  text-transform: none;
  font-family: "OpenSans-Light"; 
  margin-top: 10px;
}

.teacher-info-text {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: none;
  font-family: "OpenSans"; 
}

.totalxp_text {
 font-size: 20px;
  color: #fff;
  
  text-transform: none;
   
}


.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}



/*
Fin de MINI TRONCHO DE BOOTSTRAP
*/


@font-face {
	font-family: 'linecons';
	src:url('../fonts/linecons/linecons.eot');
	src:url('../fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/linecons/linecons.woff') format('woff'),
		url('../fonts/linecons/linecons.ttf') format('truetype'),
		url('../fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}


.sidemenu-text {
	font-family: 'OpenSans-Light';
  font-size: 0.6em;
	speak: none;
  padding:0.2em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	margin-right: 0.6em;
	margin-left: 0.6em;
	-webkit-font-smoothing: antialiased;
}

.OpenSans-Light {
  font-family: 'OpenSans-Light';
}

.iconcodec:before{
	font-family: 'FontAwesome';
	color: #f0f0f0;
}

.version-text{
  color: #50b97c;
  font-size: 1em;
}
.qubal-header-title{
  color: #98b9a5;
  font-size: 1.5em;
}

.student-name {
  color: #48a770;
}

.deadlines-text{
  font-size: 14px;

}

.bigger-font{
  font-size: 30px;
  margin-bottom: -5px;
  padding: 20px;
}

.green{
  color:#648f2f;
}

.blue{
  color:#378181;
}

.medium-font{
  font-size: 18px;
  
}

.questline{
  padding-bottom: 5px;
}