  <div class="containerfoot" >
  
    
    <div class="row" id='footer'>
      <p class='qubal_logo_text opensans-bold'><i class='icon-sitemap icon-flip-vertical'></i><span class="letter-blue"> Q</span>ubal {{ QUBAL_VERSION }}</p>
      <hr>
      
      <div class="span2 pull-left pagination-centered">
        
      
        <p>(c)2013 Studiesoft</p>
        <p class='pagination-centered'><a href='http://www.studiesoft.nl'><img src="{{ STATIC_URL }}qubalapp/main_engine/img/Studiesoft-logo.png"  title="©2013 StudieSoft"></a></p>

        

        
      </div>
      
      <div class="span2 pull-right pagination-centered">
        
        <p>Powered by</p>

        <p class='pagination-centered'><a href='http://www.radicalgraphics.com'><img src="{{ STATIC_URL }}qubalapp/main_engine/img/radicallogoon.png" width="120" height="120" title="Radical Graphics Studios"></a></p>

      </div>
     
    </div>
  
  </div> <!-- footer end -->