<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/bootstrap-flatly.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/register_character_landing.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/datetimepicker.css">
	<title>THE ORACLE | {{ QUBAL_VERSION }}</title>

<!-- =================================================== -->
<!-- =================== javascripts =================== -->
<!-- =================================================== -->

<script src="{{ STATIC_URL }}qubalapp/main_engine/js/jquery.js"></script>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/bootstrap-fileupload.js"></script>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/bootstrap-datetimepicker.js"></script>


</head>
<body>

<div class="container">

 <div class='row'>
	<div class="span10 offset1">
	<div class="well">

		<h2>The ORACLE</h2>
		
		<img src='{{ STATIC_URL }}qubalapp/main_engine/img/oracle2.jpg'>

		{% load crispy_forms_tags %}
 
		{% block content %}
		   {% crispy form %}
		{% endblock %}

	</div>
	</div>
 </div>
		<div class="containerfoot" >
			
				
				<div class="row" id='footer'>
					<div class="span3 pull-left pagination-centered">
						<p class='qubal_logo_text'><span class="letter-blue">Q</span>ubal {{ QUBAL_VERSION }}</p>
						<p>(c)2013 Studiesoft</p>
						<p class='pagination-centered'><a href='http://www.studiesoft.nl'><img src="{{ STATIC_URL }}qubalapp/main_engine/img/Studiesoft-logo.png"  title="©2013 StudieSoft"></a></p>

						

						
					</div>
					
					<div class="span2 pull-right pagination-centered">
						
						<p>Powered by</p>

						<p class='pagination-centered'><a href='http://www.radicalgraphics.com'><img src="{{ STATIC_URL }}qubalapp/main_engine/img/radicallogoon.png" height="80" title="Radical Graphics Studios"></a></p>

						


					</div>

					
				</div>
			
		</div>

	

</div> <!-- container main ends -->

</body>



</html>
