
<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>QubalSPEX {{ QUBAL_VERSION }}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Radical Graphics" />

  <link rel="shortcut icon" href="../favicon.ico">

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/bootstrap-flatly.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}spex_qubal/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}spex_qubal/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}spex_qubal/css/demo.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/bootstrap-notify.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}spex_qubal/css/index_spex.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/alert-notification-animations.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}spex_qubal/css/sidebareffect/component.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}spex_qubal/css/sidebareffect/demo.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}spex_qubal/css/quest_listing.css">

</head>
<body>

<!-- TOP NAVBAR CODE -->
{% autoescape off %}{{ navbar_top_block }}{% endautoescape %}
<!-- A BOTTOM_NAVBAR_CODE IS NECESSARY AT THE END OF THE HTML DOCUMENT -->


<!-- UNCOMMENT ADMIN_LOGOUT_BLOCK IF NEEDED -->
{% autoescape off %}{{ admin_logout_block }}{% endautoescape %}
<!-- END OF ADMIN_LOGOUT_BLOCK -->


<div class="container clearfix">
  
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <span class="your-quests-title"> Active Quests </span><br><br>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
          <div class='row'>
        {% load imagekit %}

        {% if local_student_active_courses_list %}    
          
            {% if local_student_quests_status %}
              
                {% for quest_status in local_student_quests_status.all %}
                  <div class='quest-box'>
                  <div class='well'>
                    {% if quest_status.quest.image %}
                      {% generateimage 'qubalapp:thumbnail100x100' source=quest_status.quest.image as imagen %}
                        <img class="img-format img-circle pull-left" src='{{ imagen.url }}' />
                    {% else %}
                        <img class="img-format img-circle pull-left" src='{{ STATIC_URL }}default_images/default_quest.png' width='100' />
                    {% endif %}
                      <span class="label label-success pull-right"><i class="icon-shield"></i> Quest</span>
                    
                      <div class="quest-box-title">
                        <a href="#">{{ quest_status.quest.name }}</a>
                      </div>

                      <div class="quest-box-date">
                        <span class>{{ quest_status.started_on_date|date:"d M Y" }}</span>
                      </div>

                      <div class="quest-box-description">
                        {% if quest_status.quest.description|length > 125 %}
                          <span>{{ quest_status.quest.description|truncatechars:125 }}</span>
                        {% else %} 
                          <span>{{ quest_status.quest.description }}</span>
                        {% endif %}
                      </div>
                        {% if quest_status.quest.has_challenges %}
                          <span class="label-achievement label-warning pull-right" title="Achievements: {{ quest_status.quest.has_challenges.count }}"><i class="icon-trophy"></i> {{ quest_status.quest.has_challenges.count }}</span>
                        {% endif %}

                        {% if quest_status.quest.has_rewards %}
                          <span class="label-reward label-info pull-right" title="Rewards: {{ quest_status.quest.has_rewards.count }}"><i class="icon-asterisk"></i> {{ quest_status.quest.has_rewards.count }}</span>
                        {% endif %}

                    </div>
                  </div>

                {% endfor %}
            {% else %}
                    <p class="your-courses">You are not enrolled in any Quest! Try and check some courses here below!</p>
            {% endif %}
        <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <span class="your-quests-title"> Quests Completed</span><br><br>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="row">
        {% for local_student_quest_completed in local_student_quests_completed_list.all %}

            <div class='quest-box'>
              <div class='well'>
                {% if local_student_quest_completed.image %}
                  {% generateimage 'qubalapp:thumbnail100x100' source=local_student_quest_completed.image as imagen %}
                  <img class="img-format img-circle pull-left" src='{{ imagen.url }}' />
                {% else %}
                  <img class="img-format img-circle pull-left" src='{{ STATIC_URL }}default_images/default_quest.png' width='100' />
                {% endif %}
                
                <span class="label label-warning pull-right"><i class="icon-shield"></i> Quest</span>
                
                <div class="quest-box-title">
                  <a href="#">{{ local_student_quest_completed.name }}</a>
                </div>

                <div class="quest-box-date">
                  <span class>{{ local_student_quest_completed.duration|date:"d M Y" }}</span>
                </div>

                <div class="quest-box-description">
                  {% if local_student_quest_completed.description|length > 125 %}
                    <span>{{ local_student_quest_completed.description|truncatechars:125 }}</span>
                  {% else %} 
                    <span>{{ local_student_quest_completed.description }}</span>
                  {% endif %}
                </div>

                {% if local_student_quest_completed.has_challenges %}
                    <span class="label-achievement label-warning pull-right" title="Achievements: {{ local_student_quest_completed.has_challenges.count }}"><i class="icon-trophy"></i> {{ local_student_quest_completed.has_challenges.count }}</span>
                {% endif %}

                {% if local_student_quest_completed.has_rewards %}
                    <span class="label-reward label-info pull-right" title="Rewards: {{ local_student_quest_completed.has_rewards.count }}"><i class="icon-asterisk"></i> {{ local_student_quest_completed.has_rewards.count }}</span>
                {% endif %}

              </div>
            </div>

        {% endfor %}

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <span class="your-quests-title"> Quests to Complete </span><br><br>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">


          <div class='row'>

            {% for local_student_active_course in local_student_active_courses_list.all %}
                <div class="course-title">
                <a href="{{ SUNRISE_URL }}course/{{ local_student_active_course.id }}/"><span>{{ local_student_active_course.name }}</span></a><br><br><br>
                </div>
                
                {% for local_student_course_quest in local_student_active_course.has_quests.all %}

                <div class='quest-box'>
                  <div class='well'>
                    {% if local_student_course_quest.image %}
                      {% generateimage 'qubalapp:thumbnail100x100' source=local_student_course_quest.image as imagen %}
                      <img class="img-format img-circle pull-left" src='{{ imagen.url }}' />
                    {% else %}
                      <img class="img-format img-circle pull-left" src='{{ STATIC_URL }}default_images/default_quest.png' width='100' />
                    {% endif %}
                    
                    <span class="label label-warning pull-right"><i class="icon-shield"></i> Quest</span>
                    
                    <div class="quest-box-title">
                      <a href="#">{{ local_student_course_quest.name }}</a>
                    </div>

                    <div class="quest-box-date">
                      <span class>{{ local_student_course_quest.duration|date:"d M Y" }}</span>
                    </div>

                    <div class="quest-box-description">
                      {% if local_student_course_quest.description|length > 125 %}
                        <span>{{ local_student_course_quest.description|truncatechars:125 }}</span>
                      {% else %} 
                        <span>{{ local_student_course_quest.description }}</span>
                      {% endif %}
                    </div>

                    {% if local_student_course_quest.has_challenges %}
                        <span class="label-achievement label-warning pull-right" title="Achievements: {{ local_student_course_quest.has_challenges.count }}"><i class="icon-trophy"></i> {{ local_student_course_quest.has_challenges.count }}</span>
                    {% endif %}

                    {% if local_student_course_quest.has_rewards %}
                        <span class="label-reward label-info pull-right" title="Rewards: {{ local_student_course_quest.has_rewards.count }}"><i class="icon-asterisk"></i> {{ local_student_course_quest.has_rewards.count }}</span>
                    {% endif %}


                  </div>
                </div>
                
                {% if forloop.last %}
                   <div class='clearfix'></div>
                {% endif %}

                {% endfor %}
                

            {% endfor %}

          {% endif %} <!-- first if -->

        </div>

      </div>
    </div>
  </div>
</div>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/jquery.js"></script>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/bootstrap.js"></script>

<script>
  $(".collapse").collapse()
</script>

</div>
</div>

{% autoescape off %}{{ footer_block }}{% endautoescape %}

<!-- BOTTOM NAVBAR CODE -->
{% autoescape off %}{{ navbar_bottom_block }}{% endautoescape %}
<!-- IF THIS IS NOT INCLUDED THE NAVBAR DOESN'T WORK -->


<!-- =================================================== -->
<!-- =================== javascripts =================== -->
<!-- =================================================== -->

<script src="{{ STATIC_URL }}spex_qubal/js/modernizr.custom.js"></script>
<script src="{{ STATIC_URL }}spex_qubal/js/classie.js"></script>
<script src="{{ STATIC_URL }}spex_qubal/js/sidebarEffects.js"></script>

<script src="{{ STATIC_URL }}qubalapp/main_engine/js/adapter-jquery.js"></script>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/bootstrap-notify.js"></script>


<script>

    $("[rel=tooltip]").tooltip({ placement: 'top'});
    $("[rel=tooltip-left]").tooltip({ placement: 'left'});

    $(document).ready(function() {
    $('#bouncy')
        .css({"font-size":10})   // Set to 0 as soon as possible – may result in flicker, but it's not hidden for users with no JS (Googlebot for instance!)
        .delay(2000)           // Wait for a bit so the user notices it fade in
        .css({"font-size":36});
        //.delay(1000)     // Fade it back in. Swap css for animate in legacy browsers if required.
        //.css({"font-size":32});
    });

    </script>

{% block notifications_content %}{% endblock %}


</body>
</html>
