<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Qubal | Courses</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/bootstrap-flatly.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/course_listing.css">
</head>

<body>

{% autoescape off %}{{ navbar_content }}{% endautoescape %}

<div class="container">
<span class="your-courses-title"> Your Courses </span><br><br><br>
<div class='row'>
    {% load imagekit %}
    
      {% if local_student_courses %}
        
          {% for course in local_student_courses.all %}
          {% generateimage 'qubalapp:thumbnail100x100' source=course.image as imagen %}
            
            <div class='course-box'>
              <div class='well'>

                <img class="img-format img-circle pull-left" src='{{ imagen.url }}' />
                <span class="label label-info pull-right">badge</span>
              
                <div class="course-box-title">
                  <a href="/courses/{{ course.id }}/">{{ course.name }}</a>
                </div>

                <div class="course-box-date">
                  <span class>{{ course.starting_date|date:"d M Y" }}</span>
                </div>

                <div class="course-box-description">
                  {% if course.description|length > 125 %}
                    <span>{{ course.description|truncatechars:125 }}</span>
                  {% else %} 
                    <span>{{ course.description }}</span>
                  {% endif %}
                </div>

              </div>
            </div>

          {% endfor %}
      {% else %}
              <p class="your-courses">You are not enrolled in any Course! Try and check some courses here below!</p>
      {% endif %}
<div class="clearfix"></div>
<hr class="central-hr"><br>
<span class="all-courses-title"> All Courses </span><br><br><br>
      {% for course in course_list.all %}
      {% generateimage 'qubalapp:thumbnail100x100' source=course.image as imagen %}

            <div class='course-box'>
              <div class='well'>

                <img class="img-format img-circle pull-left" src='{{ imagen.url }}' />
                <span class="label label-info pull-right">badge</span>
              
                <div class="course-box-title">
                  <a href="/courses/{{ course.id }}/">{{ course.name }}</a>
                </div>

                <div class="course-box-date">
                  <span class>{{ course.starting_date|date:"d M Y" }}</span>
                </div>

                <div class="course-box-description">
                  {% if course.description|length > 125 %}
                    <span>{{ course.description|truncatechars:125 }}</span>
                  {% else %}
                    <span>{{ course.description }}</span>
                  {% endif %}
                </div>

              </div>
            </div>
      {% endfor %}
</div>
<hr class="mini-hr">

<br><br><br><br><br><br><br><br>
  <p>CRAP CRAP CRAP CRAP CRAP</p>

<br><br><br><br><br><br><br><br>
<p>CRAP CRAP CRAP CRAP CRAP</p>

<br><br><br><br><br><br><br><br>
<p>CRAP CRAP CRAP CRAP CRAP</p>
</div>

<script src="{{ STATIC_URL }}qubalapp/main_engine/js/jquery.js"></script>
<script src="{{ STATIC_URL }}qubalapp/main_engine/js/bootstrap.js"></script>

    <script>
      $('#myCarousel').carousel()
      interval: 1000
    </script>


</body>
</html>