/* ================================= */
/* Navbar classes ================== */
/* ================================= */

.navbar-inverse .navbar-inner {
  background-color: #e1e1e1;
  background-image: linear-gradient(to bottom, #e1e1e1, #e1e1e1);
  background-repeat: repeat-x;
  border-color: #e1e1e1;


border: 0px solid #d4d4d4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.span1menu {
  width: 60px;
  padding-top: 17px;
}

.span2menu{

  float: left;
  min-height: 1px;
  margin: 0px;
  width: 140px;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin: 0px;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #2c3e50;
  border-bottom: 5px solid;
  border-color: #00ccff;
  background-color: #e1e1e1;
  font-size: 16px;
}


.navbar-student-image {
  margin-top: 20px;
}

.navbar-student-name {
  font-size: 18px;
  float: left;
  font-weight: bold;
  color: #999999;
  margin-top: 35px;
  margin-left: 5px;
}

.navbar-student-lvl {
  font-size: 16px;
  float: left;
  font-family: 'OpenSans';
  font-weight: bold;
  color: #999999;
  margin-top: 8px;
}

.text li{
  font-size: 12px;
}

input[type="text"],
input[type="password"]
{
  width:60px;
  /*padding: 3px 2px;*/
  text-indent: 1px;
  border: 2px solid #dce4ec;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  margin-top: 15px;
  font-size:12px;
  font-family: 'OpenSans';
  color: #468847;

}

.btn{
  line-height: 18px;
}

form { 
  margin: 0 0 5px;
}

.version {
  font-size: 10px;
  color:#aeaeae;
  font-weight: normal;
  text-transform: none;
  font-family: "OpenSans";
  text-align: center;
}

.logo_text{
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  font-family: "OpenSans";
}

/* ================================= */
/* Nav Icon Animations ============= */
/* ================================= */

.icon-dashboard:before {
  content: "\f0e4";
  font-size: 24px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  }


.icon-dashboard:hover {
  color: #ffffff;

}

.icon-user:before {
  content: "\f007";
  font-size: 24px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.icon-user:hover {
  color: #ffffff;
}

.icon-group:before {
  content: "\f0c0";
  font-size: 24px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.icon-group:hover {
  color: #ffffff;
}

.icon-tasks:before {
  content: "\f0ae";
  font-size: 24px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.icon-tasks:hover {
  color: #ffffff;
}

/* ================================= */
/* Nav animations END ============== */
/* ================================= */

.navbar-margin {
  margin-bottom: 125px;
}

/* ================================= */
/* Navbar classes END ============== */
/* ================================= */