body{
	background-color: #ffffff;
}

/* Styles for profile screen */

.text_name_title{
	font-family: 'OpenSans';
	font-weight: bold;
	font-size: 50px;
	color: #8a8a8a;
	margin-left: 40px;
}

.navbar-margin {
  margin-bottom: 100px;
}