<!DOCTYPE html>

<html lang="en" class="no-js">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<title>QubalSPEX {{ QUBAL_VERSION }}</title>
		<meta name="description" content="Multi-Level Push Menu: Off-screen navigation with multiple levels" />
		<meta name="keywords" content="multi-level, menu, navigation, off-canvas, off-screen, mobile, levels, nested, transform" />
		<meta name="author" content="Radical Graphics" />
		<link rel="shortcut icon" href="../favicon.ico">

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qubalapp/main_engine/css/bootstrap-flatly.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}spex_qubal/css/qubal-icons.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jawa_qubal/css/profile-widget.css" />

	</head>

<body>

	<div class="container">

		<div class="main-profile-box">

			{% load imagekit %}
			
			{% if student.image %}
		        {% generateimage 'qubalapp:thumbnail100x100' source=student.image as image %}
		        <img src='{{ image.url }}' class='img-circle' title='{{ student.name}} {{ student.lastname }} - level {{ current_level }} - {{ student.get_character_class_display }}' rel="tooltip-left"/>
			{% else %}
          		<img src='{{ STATIC_URL }}default_images/default_avatar_grey.jpg' width='100' class='img-circle' title='{{ student.name}} {{ student.lastname }} - level {{ current_level }} - {{ student.get_character_class_display }}' rel="tooltip-left"/></div>
        	{% endif %}

        		<div class="main-profile-classtype">{{ student.get_character_class_display|upper }}</div>
        		<div class="main-profile-level">{{ current_level }}</div>

		</div> <!-- main-profile-box div-->

	</div> <!-- containder div -->

</body>
</html>